body {
  margin: 0;
  display: flex;
  height: 80vh; /* Make sure the body takes 100% of the viewport height */
  justify-content: center;
  align-items: center;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.currency-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.currency-group p {

  text-transform: uppercase;
  font-size: 1.5rem;
}

.currency-control input, select{
  font-family: inherit;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  font-weight: 600;

}

.currency-control input{
  max-width: 180px;
  
}

.currency-control select{
  max-width: 120px;
  cursor: pointer;
}

.currency-control select:hover {
  background-color:#ECEFF1;
}

.currency-control input:hover {
  background-color: #ECEFF1;
}

