* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  scroll-behavior: smooth;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%; /* Make sure the navbar spans the full width */
  display: flex; /* Use flexbox */
  background-color: hsl(0, 0%, 25%);
  text-transform: uppercase;
  justify-content: center;

}

.navbar ul{
  list-style-type:none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar a{
  color:white;
  text-decoration: none;
  padding: 15px;
  display: block;

}

.navbar a:hover{
  background-color: hsl(0, 0%, 10%);
}

.navbar li{
  float: left;
  text-align: center;
}

footer {
  background-color: hsl(0, 0%, 25%);
  color: white;
  position: fixed; /* or absolute */
  bottom: 0;
  width: 100%; /* Adjust the width as needed */
  height: 45px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: small;

}

section{
  height: 100vh;
}


.page-1{
  background: #F5F5F5;
}

.page-2{
  background: radial-gradient(#ECF0F1 );
}


